body{
background-image: url("../1.jpg/");
    background-size: cover;
    height: 1000px;
}
.shrink{
	transition: all .6s ease-in-out;
    padding: 2rem;
    background: black;

}
.navbar-brand{
color: #fff;
font-size: 1.5rem;
margin-left: 2rem;
font-family: monospace;
}
.navbar-nav{
position: relative;
left: 60%

}
 .navbar-brand:hover{
   display: none;
}
.nav-item .nav-link{
color: #fff;
margin-left: 10px;
font-size: 1.5rem;
font-family: monospace;

}
.nav-item .nav-link:hover{
    color: white;
    transition: all .6s ease-in-out;
    }